.contact_container {
  color: #FFF;
  background-color: var(--bg-card-transparent-color);
}

.btn {
  background-color: var(--blue-color);
  transition: all .5s;
  &:hover {
    background-color: var(--sky-blue-color);
  }
}
.contact_icons {
  a {
    transition: all .5s;
    font-size: 30px;
    color: #FFF;
  }
}

.contact_icons a:hover {
  color: var(--sky-blue-color);
}