.contact_container {
  background-color: #050441;
  color: #CCF381;
}

a {
  color: #CCF381;
}

.fab {
  font-size: 25px;
  margin: 0 10px;
}

@media (max-width: 992px) {
  // .row {
  //   text-align: center;
  // }
}