<div class="contact_container">
  <div class="container">
    <div class="row mx-5">
      <div class="col-12 col-lg-6">
        <div class="pag_container">
          &#64; 2025 Vercel App
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="icons_container">
          <a href="https://www.linkedin.com/in/luis-alberto-gomez-arteaga-481440194" target="_blank"><i class="fab fa-linkedin"></i></a>
          <a href="https://github.com/LuisGomez11" target="_blank"><i class="fab fa-github"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>