


.img_personal {
  border: #050441 1px solid;
  padding: 10px;
  width: 350px;
  border-top-left-radius: 32px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 32px;
  border-bottom-left-radius: 90px;
}

.info_conteiner {
  padding-top: 20px;
  color: #050441;
  
  h2 {
    font-weight: bold;
  }
}

@media (max-width: 992px) {
  .info_conteiner {
    padding-inline: 20px;
  }
}