.about_container{
  padding-top: 80px;
}

.info_conteiner {
  padding: 30px 35px;
  border-radius: 20px;
  color: #FFF;
  background-color: var(--bg-card-transparent-color);
  border-top: 3px solid var(--sky-blue-color);
  min-height: 410px;
  transition: transform .6s;
}

.title_info_perfil {
  gap: 15px;
  display: flex;
  align-items: center;
  font-size: 23px;
  color: var(--sky-blue-color);
  font-weight: bold;
  margin-bottom: 20px;
}

@media (max-width: 992px) {

  .about_container {
    padding-top: 70px;
  }

  .info_conteiner {
    padding-inline: 30px;
  }
}

@media (max-width: 760px) {

  .info_conteiner {
    min-height: auto;
  }
}