<div class="about_container px-4 py-3">
  <div class="container mt-4">
    <span class="subtitle">Sobre Mí</span>
    <div class="row mt-5">
      <div class="col-12 col-lg-4 col-md-6 mb-3">
        <div class="info_conteiner">
          <div class="title_info_perfil">
            <i class="fa-solid fa-circle-user"></i>
            <span>¿Quien Soy?</span>
          </div>
          <span>
            Soy un Ingeniero de Sistemas egresado de la Fundación Universitaria Tecnológico 
            Comfenalco de la ciudad de Cartagena, con solido conocimiento en desarrollo de software 
            y diseño de interfaces.
          </span>
        </div>
      </div>
      <div class="col-12 col-lg-4 col-md-6 mb-3">
        <div class="info_conteiner">
          <div class="title_info_perfil">
            <i class="fa-solid fa-laptop-code"></i>
            <span>Mi Perfil</span>
          </div>
          <span>
            Desarrollador full-stack, especializado en desarrollo backend con Java y Spring Boot, 
            y frontend con JavaScript, TypeScript, Angular y Vue.js. Enfocado en la construcción 
            de APIs REST y microservicios, aplicando principios SOLID y arquitectura hexagonal. 
            Experiencia en bases de datos relacionales como MySQL. 
          </span>
        </div>
      </div>
      <div class="col-12 col-lg-4 col-md-6 mb-3">
        <div class="info_conteiner">
          <div class="title_info_perfil">
            <i class="fa-solid fa-rocket"></i>
            <span>Mi Objetivo</span>
          </div>
          <span>
            Mi objetivo es seguir esparciendo mis conocimientos en nuevas tecnologias y reforzar 
            las ya aprendidas y seguir ganando experiencia como desarrollador back-end y front-end.
          </span>
        </div>
      </div>
    </div>
  </div>
</div>