.navbar_container {
  width: 100%;
  background-color: var(--bg-card-transparent-color);
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;

  &.scrolled {
    background-color: var(--bg-card-color);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
  }
}

.navbar {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  color: white;
}

.name_title {
  font-size: 20px;
  font-weight: bold;

  .dev {
    color: var(--blue-color);
  }
}

.links_container {
  display: flex;
  align-items: center;
  gap: 40px;

  .logo_lg {
    display: none;
  }

  a {
    color: #FFF;
    text-decoration: none;
    transition: all 0.3s ease;
  }
}

.links_container a:hover {
  color: var(--sky-blue-color);
}

.language_container {
  gap: 8px;
  button {
    background: none;
    border: none;
  }

  img {
    width: 25px;
    height: 15px;
  }
}

.custom-dropdown {
  position: relative;
  z-index: 9999;
  pointer-events: all;
  user-select: none;
  cursor: pointer;
  padding-block: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selected {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
}

.flag {
  width: 20px;
  height: 14px;
  object-fit: contain;
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + 0.25rem);
  left: -50px;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 150px;
  overflow-y: auto;
  z-index: 10;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.dropdown-menu li {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.dropdown-menu li:hover,
.dropdown-menu li:focus,
.dropdown-menu li.selected {
  background-color: #eee;
  outline: none;
}

@media (max-width: 992px) {
  .navbar {
    height: 65px;
  }

  .name_title{
    display: none;
  }

  .links_container {
    width: 100%;
    justify-content: space-between;
    font-size: 14px;
    gap: 20px;
  }

  .language_container {
    gap: 2px;
  }

  .dropdown-menu { 
    left: -90px;
  }
}