.navbar {
  width: 100%;
  background-color: transparent;
  position: absolute;
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.nav-link {
  padding: 0;
  color: #FFF;
  font-size: 12px;
}