<nav class="navbar_container">
  <div class="navbar">
    <div class="name_title">
      <span class="dev">Dev. </span><span>Luis Gómez</span>
    </div>
    <div class="links_container">
      <a href="#home">Inicio</a>
      <a href="#about">Sobre mí</a>
      <a href="#skills">Habilidades</a>
      <a href="#projects">Proyectos</a>
    </div>
    <div class="social_container">
      <a href="https://www.linkedin.com/in/luis-alberto-gomez-arteaga-481440194" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://github.com/LuisGomez11" target="_blank"><i class="fab fa-github"></i></a>
    </div>
  </div>
</nav>