.header {
  color: #FFF;
  width: 100%;
  padding-top: 100px;
}

.container, .row {
  height: 100%;
  display: flex;
  align-items: center;
}

.img_header {
  width: 350px;
  height: 350px;
  background: var(--turquoise-color);
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;

  img {
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    border-radius: 20px;
    z-index: 1;
  }
}

.img_header::before {
  content: '';
  position: absolute;
  height: 150%;
  width: 200px;
  background-image: linear-gradient(180deg, #FFF, var(--sky-blue-color));
  animation: rotar 3s linear infinite;
  transition: all 0.2s linear;
}

.img_header::after{
  content: '';
  position: absolute;
  inset: 10px;
  background-color: var(--turquoise-color);
  border-radius: 15px;
}

@keyframes rotar{
  from{
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.info_personal {

  .name {
    color: var(--blue-color);
    font-size: 22px;
  }

  .position {
    font-weight: bold;
    font-size: 48px;
    line-height: 50px;
  
    .color_primary {
      color: var(--sky-blue-color);
    } 
  }

  .description {
    font-size: 20px;
  }
  
}

.social_container{
  padding-left: 6px;
  display: none;

  a {
    color: #FFF;
    font-size: 30px;
  }
}

.button_container {
  flex-wrap: wrap;
  .btn {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease;
    background-color: var(--blue-color);

    &:hover {
      background-color: var(--sky-blue-color);
    }
  }

  .icon_link {
    transition: all .5s;
    font-size: 30px;
    color: #FFF;

    &:hover{
      color: var(--sky-blue-color);
    }
  }

  .available {
    border: 2px solid rgb(137, 212, 137);
    padding: 5px 15px;
    border-radius: 20px;
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
    transition: all .5s;
    font-size: 14px;

    &:hover {
      background-color: rgba(137, 212, 137, .2);
    }
  }
}




@media (max-width: 992px) {
  .img_column{
    margin-top: 60px;
    margin-bottom: 60px;
  }
  
  .social_container {
      display: flex;
      gap: 20px;
  }
}