<div class="header px-4">
  <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6 mb-4">
          <div class="info_personal">
            <span class="name">Luis Alberto Gómez Arteaga</span>
            <span class="position">Ingeniero de Sistemas y
              <span class="color_primary">Desarrollador Web</span>
            </span>
            <div class="button_container my-3">
              <button class="btn liquid d-flex" (click)="seeCV()">
                <i class="fa-solid fa-file"></i>
                <span>Descargar CV</span>
              </button>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 img_column">
          <div class="img_header">
            <img src="../../../assets/Foto_grado_cuadrada.jpg" alt="">
          </div>
        </div>
      </div>
  </div>
</div>