.projects_container {
  padding-top: 80px;
}

.project_individual_container{
  overflow: hidden;
  min-height: 300px;
  position: relative;

  &:hover {
    .info_project{
      .button_repo {
        transform: scale(1.05);
        background: #000;
      }
    }
  }

  .img_project {
    height: 250px;
    object-fit: cover;
    mask-image: linear-gradient(#000 80%, transparent);
    transition: all .3s ease-in-out;
  }

  .info_project {
    padding: 20px 30px;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    height: calc(100% - 250px);

    .title {
      font-size: 22px;
      font-weight: bold;
      display: flex;
      gap: 10px;

      a {
        color: #FFF;
      }
    }

    .button_repo {
      // border: 1px solid #FFF;
      padding: 5px 10px;
      border-radius: 10px;
      color: #FFF;
      background: #00000077;
      text-decoration: none;
      transition: all .5s;

      // &:hover {
      //   transform: scale(1.05);
      //   background-color: #000
      // }
    }

    .description {
      font-size: 16px;
    }

    .technologies_container {

      flex-wrap: wrap;

      .technologies {
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid var(--sky-blue-color);
        color: var(--sky-blue-color);
        padding: 5px 10px;
        border-radius: 10px;
        transition: all .5s;
        cursor: default;

        .icon_image {
          width: 20px;
          height: 20px;
          object-fit: contain;
        }

        &:hover {
          background-color: #0000005d;
          // color: var(--bg-card-transparent-color);
        }
      }
    }
  }
}

@media (max-width: 760px) {

  .project_individual_container {
    min-height: auto;

    .img_project {
      height: 150px;
    }

    .info_project {
      padding-inline: 10px;
      .title {
        font-size: 18px;
      }
    }
  }

  .title_container {
    width: 100%;
    justify-content: space-between;
  }

  .project_individual_container img {
    
  }

  footer {
    margin-top: 20px;
  }

  .technologies {
    font-size: 13px;
    .icon_image {
      width: 15px;
      height: 15px;
    }
  }

  
}