.projects_container {
  padding-top: 80px;
}

.project_individual_container{
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--bg-card-transparent-color);
  min-height: 600px;
  border: 4px solid var(--bg-card-transparent-color);
  position: relative;
  
  .img_project {
    width: 100%;
    height: 250px;
    object-fit: cover;
    mask-image: linear-gradient(#000 80%, transparent);
    border-radius: 10px;
    transition: all .3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  .info_project {
    padding: 20px 30px;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    height: calc(100% - 250px);

    .title {
      font-size: 22px;
      font-weight: bold;
      display: flex;
      gap: 10px;

      a {
        color: #FFF;
      }
    }

    .button_repo {
      border: 1px solid #FFF;
      padding: 5px 10px;
      border-radius: 10px;
      color: #FFF;
      text-decoration: none;
      transition: all .5s;

      &:hover {
        background-color: rgba($color: #000000, $alpha: 0.5);
      }
    }

    .description {
      font-size: 16px;
    }

    .technologies_container {

      flex-wrap: wrap;

      .technologies {
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid var(--sky-blue-color);
        color: var(--sky-blue-color);
        padding: 5px 10px;
        border-radius: 10px;
        transition: all .5s;
        cursor: default;

        .icon_image {
          width: 20px;
          height: 20px;
          object-fit: contain;
        }

        &:hover {
          background-color: #0000005d;
          // color: var(--bg-card-transparent-color);
        }
      }
    }
  }
}

@media (max-width: 760px) {

  .project_individual_container {
    min-height: auto;
  }

  .info_project {
    height: calc(100% - 200px);
  }

  .project_individual_container img {
    height: 200px;
  }

  footer {
    margin-top: 20px;
  }
}