.skills_container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.skills_individual_container {
  background-color: var(--bg-card-transparent-color);
  padding: 15px;
  color: #FFF;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  cursor: default;

  img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-bottom: 10px;
    filter: grayscale(100%);
    transition: all -5s;
  }
}

.skills_individual_container:hover {
  transform: translateY(-7px);
  img {
    filter: grayscale(0);
  }
}

@media (max-width: 992px) {
  .skills_individual_container {
    img {
      filter: grayscale(0);
    }
  }
}