<section class="experience_container px-4">
  <div class="container">
    <span class="subtitle">
      <i class="fa-solid fa-briefcase small"></i>
      {{ 'experience.title' | translate }}
    </span>
    <div class="row mt-5">
      <div class="col-12 col-lg-6">
        <article class="experience_individual_container py-4 px-5">
          <span class="title d-block">
            {{ 'experience.zabud.position' | translate }}
            <span class="company">{{ 'experience.zabud.company' | translate }}</span>
          </span>
          <span class="date d-block">{{ 'experience.zabud.date' | translate }}</span>
          <ul class="description mt-3">
            <li class="mb-2">
              <span [innerHTML]="'experience.zabud.description.1' | translate"></span>
            </li>
            <li class="mb-2">
              <span [innerHTML]="'experience.zabud.description.2' | translate"></span>
            </li>
            <li class="mb-2">
              <span [innerHTML]="'experience.zabud.description.3' | translate"></span>
            </li>
            <li>
              <span [innerHTML]="'experience.zabud.description.4' | translate"></span>
            </li>
          </ul>
        </article>
      </div>
    </div>
  </div>
</section>